<h2 mat-dialog-title>Registrar Club</h2>

<form mat-dialog-content class="form-container">
  <div class="row">
    <mat-form-field appearance="outline" class="flex-1">
      <input matInput placeholder="Nombre...">
    </mat-form-field>
    <mat-form-field appearance="outline" class="flex-1">
      <input matInput type="email" placeholder="Correo...">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="flex-1">
      <input matInput placeholder="Telefono...">
    </mat-form-field>
    <mat-form-field appearance="outline" class="flex-1">
      <input matInput placeholder="RFC...">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="flex-1">
      <input matInput placeholder="Sitio web...">
    </mat-form-field>
    <mat-form-field appearance="outline" class="flex-1">
      <mat-select placeholder="Ciudad">
        <mat-option>Ciudad 1</mat-option>
        <mat-option>Ciudad 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="flex-1">
      <mat-select placeholder="Estado">
        <mat-option>Estado 1</mat-option>
        <mat-option>Estado 2</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <input matInput placeholder="Direccion...">
  </mat-form-field>

  <div class="row logo-row">
    <mat-form-field appearance="outline" class="flex-1">
      <input matInput placeholder="Tipo...">
    </mat-form-field>

    <div class="logo-section">
<button mat-raised-button class="btn-logo" type="button" (click)="fileInput.click()">AGREGAR LOGO</button>
      <input type="file" accept="image/png, image/jpeg" hidden #fileInput (change)="onFileSelected($event)">

      <small>
        FORMATOS: JPG, PNG - TAMAÑO MÁXIMO: 5 MB - RESOLUCIÓN MÍNIMA: 500×500 PX
      </small>
    </div>

    <div class="preview-image">
      <img [src]="logoPreview" alt="Logo Preview">
    </div>
  </div>
</form>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button mat-raised-button color="primary">GUARDAR</button>
</mat-dialog-actions>