<form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
    <h4 class="recover-password-text">Ingresa un correo valido. Enviaremos un enlace para reestablecer la contraseña</h4>
  <mat-form-field appearance="outline" class="full-width">
    <mat-icon matPrefix>mail</mat-icon>
    <input matInput placeholder="Correo..." type="email" formControlName="email" />
    <mat-error *ngIf="recoverForm.get('email')?.hasError('required')">
      El correo es requerido
    </mat-error>
    <mat-error *ngIf="recoverForm.get('email')?.hasError('email')">
      Ingrese un correo válido
    </mat-error>
  </mat-form-field>

  <button mat-raised-button class="login-button" type="submit" [disabled]="recoverForm.invalid">
    RECUPERAR CONTRASEÑA
  </button>
</form>
