.canchas-container {
  padding: 16px;
}

.estado-select {
  margin-bottom: 16px;
  width: 250px;
}

.mes-actual {
  margin: 16px 0;
  text-align: center;
}

.calendar-container {
  width: 100%;
  max-width: 1200px;
}
