<div class="modal-container">
  <!-- Header -->
  <div class="modal-header">
    <div class="icon-circle">
      <mat-icon>restaurant</mat-icon>
    </div>
    <div class="modal-title">
      <h2>Comodidades del Club</h2>
      <p>Selecciona las comodidades que tiene este club</p>
    </div>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider class="modal-divider"></mat-divider>

  <!-- Club Amenities List -->
  <div class="amenities-list">
    <mat-checkbox *ngFor="let amenity of amenities" [(ngModel)]="amenity.selected">
      {{ amenity.amenity_name }}
    </mat-checkbox>
  </div>

  <!-- Actions -->
  <div class="modal-actions">
<button mat-stroked-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" (click)="guardarComodidades()">Guardar</button>
  </div>
</div>
