<h2 mat-dialog-title class="titulo-modal">Participantes del Torneo</h2>

<mat-dialog-content class="contenido-modal">
    <div *ngIf="loading" class="loading">⏳ Cargando participantes...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <div *ngIf="!loading && participantes?.length" class="lista-participantes">
        <div *ngFor="let participante of participantes" class="participante-card">
            <div class="avatar">
                <img *ngIf="participante.profile_photo; else defaultAvatar" [src]="participante.profile_photo"
                    alt="{{ participante.name }}" />
                <ng-template #defaultAvatar>
                    <mat-icon>person</mat-icon>
                </ng-template>
            </div>
            <div class="info">
                <span class="nombre">{{ participante.name }} {{ participante.lastname }}</span>
                <span class="email">{{ participante.email }}</span>
                <span class="rol">Rol: {{ participante.rol }}</span>
            </div>
        </div>


    </div>

    <div *ngIf="!loading && participantes?.length === 0" class="sin-participantes">
        No hay participantes registrados.
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="acciones-modal">
    <button mat-stroked-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" (click)="generarBracket()">
        Generar Bracket
    </button>
</mat-dialog-actions>