<h2>Bracket del Torneo</h2>

<div *ngIf="loading">⏳ Cargando bracket...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="!loading && bracket.length">

<mat-form-field appearance="fill">
  <mat-label>Seleccionar categoría</mat-label>
  <mat-select [(value)]="selectedCategory" (selectionChange)="filtrarCategoria()">
    <mat-option *ngFor="let cat of categories" [value]="cat.category_name">
      {{ cat.category_name }} (Nivel {{ cat.level }})
    </mat-option>
  </mat-select>
</mat-form-field>

  <div *ngFor="let cat of filteredBracket">
    <h3>{{ cat.category_name }} (Nivel {{ cat.level }})</h3>
    
    <!-- <div *ngFor="let group of cat.groups">
      <h4>{{ group.group_name }}</h4>
      <ul>
        <li *ngFor="let game of group.games">
          {{ game.couple_1?.name || '---' }} vs {{ game.couple_2?.name || '---' }}
          <span *ngIf="game.winner_id">✅ Ganador: {{ game.winner_id }}</span>
        </li>
      </ul>
    </div>
  </div> -->

</div>

<div #bracketContainer class="bracket-container" style="border:1px solid #ccc; height:1000px; margin-top:10px;"></div>
