<div class="modal-container">
  <!-- Header -->
  <div class="modal-header">
    <div class="icon-circle">
      <mat-icon>schedule</mat-icon>
    </div>
    <div>
      <h2>Horarios de Club</h2>
      <p>Configura el horario semanal de tu club</p>
    </div>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider class="modal-divider"></mat-divider>

  <!-- Quick Selection -->
  <div class="quick-selection">
    <button mat-stroked-button color="primary" (click)="selectWeekdays()">Solo Días de Semana</button>
    <button mat-stroked-button color="accent" (click)="selectAllDays()">Toda la Semana</button>
    <button mat-stroked-button class="green" (click)="selectWeekends()">Solo Fines de Semana</button>
    <button mat-stroked-button color="warn" (click)="clearAll()">Limpiar Todo</button>
  </div>

  <!-- Weekly Schedule -->
  <div class="weekly-schedule">
    <div class="day-row" *ngFor="let day of days">
      <mat-checkbox [(ngModel)]="day.enabled" style="width: 100px;">{{ day.name }}</mat-checkbox>
      <div class="horario-col">
        <ng-container *ngIf="day.hasSchedule; else noHorario">
          <div class="horario-badges">
            <div class="badge" *ngFor="let s of day.schedules">
              {{ s.start }} - {{ s.end }}
            </div>
            <button mat-icon-button color="warn" (click)="eliminarHorario(day.schedules)" style="margin-left: auto;" *ngIf="!day.enabled">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
        <ng-template #noHorario>
          <div class="badge badge-rojo">
            Sin horario definido
          </div>
        </ng-template>
      </div>
      <div class="time-selectors" *ngIf="day.enabled">
        <span>De:</span>
        <mat-form-field appearance="outline" class="time-field">
          <mat-select [(ngModel)]="day.start">
            <mat-option *ngFor="let h of hours" [value]="h">{{ h }}</mat-option>
          </mat-select>
        </mat-form-field>

        <span>A:</span>
        <mat-form-field appearance="outline" class="time-field">
          <mat-select [(ngModel)]="day.end">
            <mat-option *ngFor="let h of hours" [value]="h">{{ h }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Actions -->
  <div class="modal-actions">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="guardarHorario()">Save</button>
  </div>
</div>