<!-- <div class="container"> -->

  <!-- Header -->
  <div class="header">
    <h1>Canchas</h1>
    <button mat-raised-button color="primary" class="btn-registrar" (click)="abrirModalRegistrarCancha()">
      <mat-icon>add</mat-icon> REGISTRAR CANCHA
    </button>
  </div>

  <mat-divider style="margin-bottom: 24px; opacity: 0.0;"></mat-divider>

  <!-- Selector de Club -->
  <div class="club-selector">
    <mat-form-field appearance="outline" style="width: 300px;">
      <mat-label>Seleccionar Club</mat-label>
      <mat-select [(value)]="selectedClubId" (selectionChange)="onClubChange()">
        <mat-option *ngFor="let club of clubs" [value]="club.id">
          {{ club.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Loading -->
  <div *ngIf="loading" class="loading" style="text-align: center; padding: 20px;">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Cargando canchas...</p>
  </div>

  <!-- Error -->
  <div *ngIf="error && !loading" class="error" style="color: #f44336; text-align: center; padding: 20px;">
    {{ error }}
  </div>

  <!-- Canchas tipo cards -->
  <div class="canchas-cards-container">
    <mat-card *ngFor="let court of courts" class="cancha-card" appearance="outlined">
      <mat-card-header>
        <div class="card-header-row">
          <mat-card-title class="cancha-title">{{ court.name }}</mat-card-title> <button mat-icon-button
            (click)="editarCancha(court)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card-header>

      <div class="cancha-img-container">
        <img mat-card-image [src]="court.photo || 'assets/img/no-image.png'" alt="{{ court.name }}">
      </div>
      <mat-card-content>
        <p><strong>Patrocinador:</strong> {{ court.sponsor || 'Sin patrocinador' }}</p>
        <p><strong>Tipo:</strong> {{ court.type }}</p>
        <p><strong>Estado:</strong> {{ court.availability ? 'Disponible' : 'No disponible' }}</p>
        <p><strong>Club:</strong> {{ getClubName(court.club_id) }}</p>
        <p><strong>Costo Renta:</strong> {{ court.price_hour }}</p>

      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button color="accent" (click)="abrirModalRegistrarHorario(court)">
          <mat-icon>schedule</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="abrirModalHorarios(court)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="confirmarEliminarCancha(court)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="courts.length === 0 && !loading && !error" class="no-canchas">
    No hay canchas registradas para este club.
  </div>

<!-- </div> -->