/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --primary-color: #1f4c7c;
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__surface {
  background: #43a047 !important;
  color: #fff !important;
}
.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__surface {
  background: #e53935 !important;
  color: #fff !important;
}
.mat-mdc-snack-bar-container.snackbar-info .mdc-snackbar__surface {
  background: #1976d2 !important;
  color: #fff !important;
}

.custom-snackbar {
  background: linear-gradient(135deg, #2563eb, #1e3a8a);
  color: #fff !important;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}