<div class="app-sidebar">
  <div class="logo">
    <a routerLink="/dashboard" class="logo-icon">
      <span class="logo-text">MexPádel</span>
    </a>
    <div class="sidebar-user-switcher user-activity-online">
        <span class="user-info-text">
          {{ currentUser?.name }} {{ currentUser?.lastname }}<br>
          <span class="user-state-info">
             {{ currentUser?.club_rfc }}
          </span>
        </span>
      
    </div>
  </div>

  <div class="app-menu">
    <ul class="accordion-menu">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="material-icons-two-tone">home</i>Inicio
        </a>
      </li>
      <li>
        <a routerLink="/clubs" routerLinkActive="active">
          <i class="material-icons-two-tone">bookmark</i>Clubs
        </a>
      </li>
      <li>
        <a routerLink="/canchas" routerLinkActive="active">
          <i class="material-icons-two-tone">sports_soccer</i>Canchas
        </a>
      </li>
      <li>
        <a routerLink="/usuarios" routerLinkActive="active">
          <i class="material-icons-two-tone">groups</i>Usuarios
        </a>
      </li>
      <li>
        <a routerLink="/calendario" routerLinkActive="active">
          <i class="material-icons-two-tone">calendar_month</i>Calendario
        </a>
      </li>
      <li>
        <a routerLink="/clientes" routerLinkActive="active">
          <i class="material-icons-two-tone">groups</i>Clientes
        </a>
      </li>
      <li>
        <a routerLink="/reservaciones" routerLinkActive="active">
          <i class="material-icons-two-tone">more_time</i>Reservaciones
        </a>
      </li>

      <li class="menu-divider"></li>

     <li>
        <a (click)="logout()" class="logout-item" [class.loading]="isLoading">
          <i class="material-icons-two-tone">logout</i>
          <span>
            {{ isLoading ? 'Cerrando sesión...' : 'Cerrar Sesión' }}
          </span>
          <span *ngIf="isLoading" class="logout-spinner"></span>
        </a>
      </li>
    </ul>
  </div>
</div>