<div class="header" style="display: flex; align-items: center; justify-content: space-between;">

  <h1 style="flex-grow: 1; margin: 0;">Clubes</h1>
  <button mat-raised-button color="primary" class="btn-registrar" (click)="abrirModalRegistrarClub()">
    <mat-icon>add</mat-icon> REGISTRAR CLUB
  </button>
</div>

<mat-divider style="margin-bottom: 24px; opacity: 0.12;"></mat-divider>


<div class="clubs-filtros">
  <input class="clubs-search" type="text" placeholder="Buscar clubes por nombre, correo o dirección..."
    [(ngModel)]="busquedaClub" (ngModelChange)="filtrarClubes()" />
</div>

<!-- Tarjetas resumen -->
<div class="clubs-resumen">
  <div class="resumen-card">
    <div class="resumen-icon total"><mat-icon>groups</mat-icon></div>
    <div class="resumen-label">Total Clubes</div>
    <div class="resumen-value">{{ totalClubsActivos }}</div>
  </div>
  <div class="resumen-card">
    <div class="resumen-icon activos"><mat-icon>directions_run</mat-icon></div>
    <div class="resumen-label">Clubes Publicos</div>
    <div class="resumen-value">{{ totalClubsPublicos }}</div>
  </div>
  <div class="resumen-card">
    <div class="resumen-icon entrenadores"><mat-icon>emoji_events</mat-icon></div>
    <div class="resumen-label">Clubes Privados</div>
    <div class="resumen-value">{{ totalClubsPrivados }}</div>
  </div>
  <div class="resumen-card">
    <div class="resumen-icon victorias"><mat-icon>military_tech</mat-icon></div>
    <div class="resumen-label">Club con mas Usuarios</div>
    <div class="resumen-value">{{ clubConMasUsuarios?.name }}</div>
  </div>
</div>

<!-- Tabla de usuarios -->
<div class="clubs-lista">
  <div class="clubs-lista-header">
    <span>Lista de Clubs</span>
  </div>
  <table class="clubs-table">
    <thead>
      <tr>
        <th>NOMBRE</th>
        <th>TELEFONO</th>
        <th>TIPO</th>
        <th>EMAIL</th>
        <th>ESTATUS</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let club of clubesFiltrados">
        <td>
          <div class="club-nombre">
              <img class="club-avatar" [src]="club.logo || 'assets/img/logoclub.jpg'"
                  (error)="onImgError($event)" alt="avatar">
            <div>
              <div class="nombre" (click)="abrirModalInfoClub(club)">{{ club.name }}</div>
              <div class="correo">{{ club.email }}</div>
            </div>
          </div>
        </td>
        <td>
          <span>{{ club.phone }}</span>
        </td>
        <td>
          <span class="badge-rol" [ngClass]="club.type | lowercase">{{ club.type === 'public' ? 'Público' : 'Privado'
            }}</span>
        </td>
        <td>
          {{ club.email }}
        </td>
        <td>
          <span class="badge-categoria" [ngClass]="club.status.valueOf.toString() | lowercase">{{ club.status ? 'Activo'
            : 'Inactivo' }}</span>
        </td>
        <td class="acciones-cell">
          <button mat-icon-button aria-label="Editar club" (click)="abrirEditarClubDialog(club)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="abrirModalRegistrarHorario(club)">
            <mat-icon>more_time</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="abrirModalComodidades(club)">
            <mat-icon>hotel_class</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="addCloseDays(club)">
            <mat-icon>event_busy</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmarEliminarClub(club)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <div class="clubs-cards-container">
  <mat-card *ngFor="let club of clubesFiltrados" class="club-card" appearance="outlined">
    <mat-card-header>
      <div class="card-header-row">
        <div>
          <mat-card-title class="club-name">{{ club.name }}</mat-card-title>
          <mat-card-subtitle class="club-email">{{ club.email }}</mat-card-subtitle>
        </div>
        <button mat-icon-button class="edit-btn" aria-label="Editar club" (click)="abrirEditarClubDialog(club)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <img mat-card-image [src]="club.logo ? club.logo : 'assets/logos/azteca.png'" alt="Logo de {{ club.name }}"
      (error)="onImageError($event)"> <mat-card-content>
      <p class="direccion-truncada"><strong>Dirección:</strong> <span class="direccion-text">{{ club.address }}</span>
      </p>
      <p><strong>Teléfono:</strong> {{ club.phone }}</p>
      <p><strong>Estatus:</strong> {{ club.status ? 'Activo' : 'Inactivo' }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="accent" (click)="abrirModalRegistrarHorario(club)">
        <mat-icon>more_time</mat-icon>
      </button>
      <button mat-icon-button (click)="abrirModalHorarios(club)">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="abrirModalInfoClub(club)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="confirmarEliminarClub(club)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="abrirModalComodidades(club)">
        <mat-icon>monitor</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
</div> -->